.background {

}

.button {
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.button:hover {

}

.transparentButton {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.transparentButton:hover {
    -fx-background-color: rgb(0, 0, 0, 0.15);
}

.navButton {
    -fx-background-color: rgb(230, 230, 230);
}

.navButton:hover {
    -fx-background-color: rgb(210, 210, 210);
}

.toolButton {
    -fx-background-color: rgb(190, 190, 190);
}

.toolButton:disabled {
    -fx-background-color: rgb(210, 210, 210);
}

.toolButton:hover {
    -fx-background-color: rgb(160, 160, 160);
}

.searchButton {

}

.searchButton:hover {

}

.cancelButton {
    -fx-background-color: rgb(220, 220, 220);
}

.cancelButton:hover {
    -fx-background-color: rgb(200, 200, 200);
}

.okButton {
    -fx-background-color: rgb(120, 180, 200);
}

.okButton:hover {
    -fx-background-color: rgb(90, 150, 170);
}

.circular {
    -fx-background-radius: 100%;
}

.roundTopRight {
    -fx-background-radius: 0 10pt 0 0;
}

.roundBottomRight {
    -fx-background-radius: 0 0 10pt 0;
}

.text-field {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}


/* Accordion */

/*.titled-pane > .title 
{
-fx-background-color: rgb(220, 220, 220);
}

.titled-pane:focused > .title 
{
-fx-background-color: rgb(200, 200, 200);
}*/