.background {
    -fx-background-color: -fx-background;
}

.button {
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.button:hover {

}

.transparentButton {
    -fx-background-color: rgb(0, 0, 0, 0);
}

.transparentButton:hover {
    -fx-background-color: rgb(0, 0, 0, 0.15);
}

.navButton {
    -fx-background-color: rgb(230, 230, 230);
}

.navButton:hover {
    -fx-background-color: rgb(210, 210, 210);
}

.toolButton {
    -fx-background-color: rgb(190, 190, 190);
}

.toolButton:hover {
    -fx-background-color: rgb(150, 150, 150);
}

.toolButton:disabled {
    -fx-background-color: rgb(210, 210, 210);
}

.searchButton {

}

.searchButton:hover {

}

.searchButton:disabled {
    -fx-background-color: white;
    -fx-border-color: gray;
}

.cancelButton {
    -fx-background-color: rgb(220, 220, 220);
}

.cancelButton:hover {
    -fx-background-color: rgb(200, 200, 200);
}

.okButton {
    -fx-background-color: rgb(80, 180, 210);
}

.okButton:hover {
    -fx-background-color: rgb(60, 160, 190);
}

.circular {
    -fx-background-radius: 30%;
}

.roundTopRight {
    -fx-background-radius: 0 5pt 0 0;
}

.roundBottomRight {
    -fx-background-radius: 0 0 5pt 0;
}

.text-field, .text-area, .date-picker, .combo-box, .toggle-button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.lightBorder {
    -fx-border-color: lightgray;
}

.esvTab {
    -fx-font-size: 14;
}

.tab-header-area .tab {
    -fx-cursor: hand;
    -fx-padding: 7 10;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: rgb(200, 200, 200);
}

.tab-header-area .tab:selected {
    -fx-background-color: rgb(180, 180, 180);
    /*-fx-padding: 7 10 5 10;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: red;*/
}

.tab-header-area .tab:hover {
    -fx-background-color: rgb(190, 190, 190);
}

.tab-header-area .seperatorTab {

}

.tab-header-area .contactTab {

}

.tab-header-area .backgroundTab:selected {
    -fx-background-color: -fx-background;
    -fx-border-color: rgb(200, 200, 200) rgb(200, 200, 200) -fx-background rgb(200, 200, 200);
    -fx-border-width: 1 1 1 0;
    -fx-padding: 6 9;
}

.tab-header-area .borderBackgroundTab:selected {
    -fx-border-width: 1;
}

.programHeader {
    -fx-background-color: red;
}

.date-picker, .combo-box {
    -fx-font-size: 14;
}

.pageWhite {
    -fx-background-color: white;
}

/* Accordion */

/*.titled-pane > .title 
{
-fx-background-color: rgb(220, 220, 220);
}

.titled-pane:focused > .title 
{
-fx-background-color: rgb(200, 200, 200);
}*/